body{
    background-color: rgba(45, 249, 45, 0.258);
}
.todo-div{
    color: rgb(108, 46, 1);
    position: relative;
    width:350px;
    font-size: 2.2rem;
    min-height: 50px;
    display: flex;
    justify-content: space-around;
    border:1px solid rgba(0, 220, 37, 0.87);
    margin-bottom:2%;
    align-items: center;
    border-radius: 10px;
    flex-wrap: wrap;
}
.todo-div button{
    background-color: rgb(63, 133, 177);
    border: 0px;
    color:white
}
.content{
    width:50%;
    /* border: 1px solid black; */
}
.btn {
    font-size: 0.5rem;
    background: #6e076e;
    -webkit-border-radius: 11;
    -moz-border-radius: 11;
    border-radius: 11px;
    font-family: Georgia;
    color: #ffffff;
    font-size: 1.1rem;
    padding: 7px 11px 7px 21px;
    text-decoration: none;
  }
  
  .btn:hover {
    cursor: pointer;
    background: #c3cf14;
    text-decoration: none;
  }
.if{
    width: 33%;
    border: 1px solid yellow;
    padding: 10px;
    background-color: rgba(0, 255, 174, 0.24);
}
.sb{
    padding: 10px;
}