<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Edit method</h2>
    <form action="/todo/<%=editData.id%>/edit?_method=PATCH" method='POST'>
        <input name='content' value="<%=editData.todo%>" type="text" placeholder="Enter your comment!" />
        <button type="submit">submit</button>
    </form>
</body>
</html>