<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
    <div id="gp">
        <h1>Get method</h1>
        <form action="/data" method="get">
        <!-- <form action="/user" method="post"> -->
            <input type="text" name="user_name" placeholder="enter your name"><br><br>
            <input type="password" name="password" placeholder="enter your password"><br><br>
            <button type="submit">send</button>
        </form>
        <br><br><br>
        <h1>Post method</h1>
        <form action="/data" method="POST">
            <!-- <form action="/user" method="post"> -->
            <input type="text" name="user_name" placeholder="enter your name"><br><br>
            <input type="password" name="password" placeholder="enter your password"><br><br>
            <button type="submit">send</button>
        </form>
    </div>
    </center>
</body>
</html>